name: birdle
description: "Bite Finder Flutter app"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.3.0

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.2
  go_router: ^14.8.1
  shared_preferences: ^2.5.3
  crypto: ^3.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
